<!DOCTYPE html> 
<html lang="eng">
<html>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
<body>
<!--   First block Start   -->
   <section id="abroad-first-block">
    <div class="abroad-title">
    Study Abroad Experience
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap" rel="stylesheet">
    
     <p class="abroad-text">
    We are introducing two SILS sempais who studied abroad!
    </div>
  </section>
  <!--   First block End   -->

  <!--   Second block Start   -->
  <section id="abroad-second-block">
   <div class="abroad-container">
   <img src="/assets/miyabi.JPG" class="self-image_1">
   <img src="/assets/futsal.JPG" class="self-image_2">
   <div class="abroad-1">
   <strong><span style="font-size: 30px;font-family:'Josefin Slab',serif;color:#ff5757">Mia (4th year SP1)  </span><image src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/260px-Flag_of_the_People%27s_Republic_of_China.svg.png" width="70" height="45"><br></strong>
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&display=swap" rel="stylesheet">

   <strong><span style="color:#a3c468">・留学先： </span></strong><b>復旦大学 (中国)</b><br>
   <strong><span style="color:#a3c468">・留学プログラム： </span></strong>Double Degree Program (DD)<br>
   <strong><span style="color:#a3c468">・なぜ中国？ </span></strong>もともと中国に住んでいた経験はあったけど、国際学校だったので、中国語をちゃんと学びたい！と思ったから。また、中国語を学んで今後働く上で損はないと思ったから！<br>
   <strong><span style="color:#a3c468">・留学中大変だったこと： </span></strong>1年で40単位取得＆中国人の学生達と授業だったので、とにかく勉強は大変。。。学生達に追いつくためにも、24時間開いている教室で勉強したり、サッカー部に入ったりして、工夫していた！<br>
   <strong><span style="color:#a3c468">・印象深いこと： </span></strong>とにかくデジタル化が進んでいる！中国はECサイトが主流だから、大学構内に物流センターや配送ロボットが動いていて、驚いたよ。キャッシュレスがメインだから、現金出すと、逆に驚かれた。あと、お昼ご飯最安300円とか、食事代は助かりました。<br>
   <strong><span style="color:#a3c468">・最後に一言：</span></strong>欧米留学を希望するSILS学生が多いと思うけど、中国もとても面白い留学先だと思う！特に、中国は経済が急成長しているからこそ、毎日変化があって、とても楽しい。またDDも、中国語を大学から本格的に学んだとしても、挑戦してみてほしい！勉強と遊びをしっかりバランス良く👍<br>
   <a href="https://www.waseda.jp/inst/weekly/news/2020/12/11/81356/" class="btn btn--yellow btn--cubic" target="_blank" rel="noopener noreferrer">一緒に留学した学生の留学体験記もcheckしてみてね!</a><br>
   <video src="/videos/fudan.mp4" width="400" height="300" controls autoplay playsinline class="box1"> 
   大学構内で自転車乗りながら撮った動画。大学は敷地がとても広いので、自転車で教室間を移動していたよ。
   </video>
   <img src="/assets/shanghai_food.jpg" class="abroad-image1">
   <p>(左) 大学は敷地がとても広いので、毎日自転車で教室間を移動していたよ。鳥の鳴き声も聞こえて、自然あふれていたな～<br>(右) よく朝ごはんとして食べていた手抓饼 (中にトマト、レタス等野菜を挟んだナンサンドみたいなの！)</p>
   </div>

   <img src="/assets/sae1.jpg" class="self-image_3">
   <img src="/assets/sae2.jpg" class="self-image_4">

   <div class="abroad-2">
   <strong><span style="font-size: 30px;font-family:'Josefin Slab',serif;color:#ff5757">Sae (4th year SP1)  </span><image src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_the_United_States.svg/292px-Flag_of_the_United_States.svg.png" width="70" height="45"><br></strong>
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&display=swap" rel="stylesheet">

   <strong><span style="color:#a3c468">・留学先： </span></strong><b>カリフォルニア大学アーバイン校 (アメリカ)</b><br>
   <strong><span style="color:#a3c468">・留学プログラム： </span></strong>交換留学 (EX-R)<br>
   <strong><span style="color:#a3c468">・なぜアーバイン？ </span></strong>海外経験ゼロということもあり、英語圏かつアメリカで最も治安が良いとされるアーバインに決めました！<br>
   <strong><span style="color:#a3c468">・留学中大変だったこと： </span></strong>日本人コミュニティの誘惑に甘えないように過ごすことです。私は現地の空手部に所属して、現地生との交流を深めていました。<br>
   <strong><span style="color:#a3c468">・印象深いこと： </span></strong>留学中の冬休みに、メキシコ旅行からアメリカに再入国する際の手続きを疎かにしており、あやうく日本に強制送還されかけ冷や汗をかいた経験です。<br>
   <strong><span style="color:#a3c468">・最後に一言：</span></strong>欧米留学を希望するSILS学生が多いと思うけど、中国もとても面白い留学先だと思う！特に、中国は経済が急成長しているからこそ、毎日変化があって、とても楽しい。またDDも、中国語を大学から本格的に学んだとしても、挑戦してみてほしい！勉強と遊びをしっかりバランス良く👍<br>
   
   <img src="/assets/sae_ryugaku1.jpg" class="abroad-image2">
   <div class="abroad-video2">
   <video src="/videos/sae_ryugaku_video.mp4" width="300" height="400" controls autoplay playsinline> 
   </video>
   </div>

   </div>
  </section>
  <!--   Second block End   -->

