<html>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
<body>
<!--   First block Start   -->
   <section id="uni-first-block">
    <div class="uni-title">
    Sempais' voices
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap" rel="stylesheet">
    
     <p class="uni-text">
     Here, we will introduce few of our SILS Sempais' voices so that newcomers can get to know more about the "uniqueness" of SILS!
    </div>
  </section>
  <!--   First block End   -->

  
  <!--   Second block Start   -->
  <section id="uni-second-block">
  <div class="sempai-container">
  <a href="https://luckydishes.herokuapp.com/" class="web" target="_blank" rel="noopener noreferrer"><i class="fas fa-laptop faa-bounce animated"></i>Website</a>
    <img src="/assets/miyabi.JPG" onmouseover="this.src='/assets/futsal.JPG'" onmouseout="this.src='/assets/miyabi.JPG'" class="self-image1">
    <p class="sempai-1">
    <strong><span style="font-size: 30px;font-family:'Josefin Slab',serif;color:#ff5757">Mia</span><br></strong>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&display=swap" rel="stylesheet">
    <strong><span style="color:#a3c468">・Study plan: </span></strong>SP1<br>

    <strong><span style="color:#a3c468">・Studied abroad at: </span></strong>Fudan University (China)<br>
    
    <strong><span style="color:#a3c468">・Club: </span></strong>WASEDA-SAI member staff, Tennis, Futsal<br>
    
    <strong> <span style="color:#a3c468">・Part-time job: </span></strong>Hotel Bell staff<br>
    
    <strong> <span style="color:#a3c468">・Favorite SILS class: </span></strong>Public Management, Public Service and Local Government (prof. Kudo Hiroko)<br>
    
    <strong> <span style="color:#a3c468">・Message: </span></strong>For sure, what I really enjoy at SILS is the diverse community it offers. Meeting my friends here led me to become interested in various cuisines all over the world:) (Look at my website above!) Cherish the given time and hope we can support you to enjoy the time in Waseda! 
    </p>

    <img src="/assets/sae1.jpg" onmouseover="this.src='/assets/sae2.jpg'" onmouseout="this.src='/assets/sae1.jpg'" class="self-image2">
    <p class="sempai-2">
    <strong><span style="font-size: 30px;font-family:'Josefin Slab',serif;color:#ff5757">Sae</span><br></strong>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&display=swap" rel="stylesheet">

    <strong><span style="color:#a3c468">・Study plan: </span></strong>SP1<br>

    <strong><span style="color:#a3c468">・Studied abroad at: </span></strong>University of California Irvine (USA)<br>
    
    <strong><span style="color:#a3c468">・Club: </span></strong>Waseda Univ karate-do seishinkai<br>
    
    <strong> <span style="color:#a3c468">・Part-time job: </span></strong>Tutor, Cafe, SaaS internship<br>
    
    <strong> <span style="color:#a3c468">・Favorite SILS class: </span></strong>Gender studies (prof. Greg Dvorak)<br>
    
    <strong> <span style="color:#a3c468">・Message: </span></strong>Without an experience of living abroad, I was a bit apprehensive about catching up on classes at SILS when I was a freshman. Let me know if you’re concerned about classes or interested in studying in California!
    </p>

    <img src="/assets/oshiro1.jpg" onmouseover="this.src='/assets/oshiro2.jpg'" onmouseout="this.src='/assets/oshiro1.jpg'" class="self-image1">
    <p class="sempai-1">
    <strong><span style="font-size: 30px;font-family:'Josefin Slab',serif;color:#ff5757">Oshiro</span><br></strong>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&display=swap" rel="stylesheet">

    <strong><span style="color:#a3c468">・Study plan: </span></strong>SP1<br>

    <strong><span style="color:#a3c468">・Studied abroad at: </span></strong>Dublin City University (Ireland)<br>
    
    <strong><span style="color:#a3c468">・Club: </span></strong>WASEDA-SAI member staff<br>
    
    <strong> <span style="color:#a3c468">・Part-time job: </span></strong>Newspaper company<br>
    
    <strong> <span style="color:#a3c468">・Favorite SILS class: </span></strong>Dinosaurs:Discovery and Research (prof. Ren Hirayama)<br>
    
    <strong> <span style="color:#a3c468">・Message: </span></strong>Because of COVID-19, Japan is now facing a difficult situation. However, I hope you guys have a fulfilling university life!
    </p>

    <img src="/assets/mayu1.jpg" onmouseover="this.src='/assets/mayu2.jpg'" onmouseout="this.src='/assets/mayu1.jpg'" class="self-image2">
    <p class="sempai-2">
    <strong><span style="font-size: 30px;font-family:'Josefin Slab',serif;color:#ff5757">M.H.</span><br></strong>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&display=swap" rel="stylesheet">

    <strong><span style="color:#a3c468">・Study plan: </span></strong>SP1<br>

    <strong><span style="color:#a3c468">・Studied abroad at: </span></strong>University of British Columbia (Canada)<br>
    
    <strong><span style="color:#a3c468">・Club: </span></strong>Hoshizora (guitar)<br>
    
    <strong> <span style="color:#a3c468">・Part-time job: </span></strong>Campus tour guide<br>
    
    <strong> <span style="color:#a3c468">・Favorite SILS class: </span></strong>Pacific Perspectives on Empire, War, and Globalization (prof. Greg Dvorak)<br>
    
    <strong> <span style="color:#a3c468">・Message: </span></strong>I had so many eye-opening experiences from taking the courses offered here so I really hope you find your favorite class/prof! 💖May your campus life be filled with amazing people and opportunities✨
    </p>
   </div>
   </section>
  <!--   Second block End   -->

</body>
</html>
