// Place all the styles related to the hello controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
    margin: 0;
    padding: 0;
  }

  header{
    height: 60px;
    background-color:white;
  }

  .header-nav1 {
    background-color:white;
    position: fixed;
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .logo {
  margin-right: 500px
  }

  header a {
    color:#a3c468; 
    text-decoration: none; 
    font-family: 'Josefin Slab', serif;
    font-size: 18px;
    margin: auto;
    text-transform: uppercase;
    margin: auto;
    margin-right: 5px;
  }

  nav {
    margin-right: 5%;
  }
  
  #first-block {
    background-size: cover;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center
  }
  .title-container {
    text-align: center;
    margin-top: 200px
  }
    
  .background-image0 {
    width: 1500px;
    height: 708px;
    margin-top: 200px
   }
       
    /*   Second block Start  */
#second-block {
  background-color:#f8f4e6;
  text-align: center;
  height: 850px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.info-title {
  font-size: 40px;
  font-family: 'Beth Ellen', cursive;
  font-weight: 500;
  margin-bottom: 30px;
  color:#ff5757;
  text-align:center;
  margin-bottom: 20px;
}

.about-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.info-text {
  font-size: 30px;
  font-family: 'Josefin Slab', serif;
  margin-bottom: 30px;
  color: #444;
  width: 30%;
  text-align:center;
  align-items: center;
  margin-top: 40px;
}

.font-small {
  font-size: 15px;
  font-family: 'Open Sans';
  text-align:justify
}
/*   Second block End   */


  /*   Third block Start   */
#third-block {
  background-color: white;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.item-title {
  font-size: 40px;
  font-family: 'Beth Ellen', cursive;
  font-weight: 500;
  color: #ff5757;
  text-align: center;
}  

.item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
}

.item-name {
  font-size: 30px;
  padding: 10px;
  font-family: 'Josefin Slab', serif
}

.item-image{
  border-radius: 50%;
  width: 400px;
  height:300px;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
  transition-duration: 0.5s;
}

.item-image:hover{
  transform: scale(1.2) rotate(9deg);
  transition-duration: 0.5s;
}
/*   Third block End   */


 /*   Fourth block Start   */
 #fourth-block {
  background-color: #a3c468;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.sns-title {
  font-size: 40px;
  font-family: 'Beth Ellen', cursive;
  font-weight: 500;
  margin-bottom: 30px;
  color:white;
  text-align: center;
}  

.sns-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 100%;
}

.sns-name {
  font-size: 18px;
  padding: 10px;
  font-family:'Open Sans';
  color:white
}

.sns-image2 {
  width: 250px;
  height:140px
}
/*   Fourth block End   */

  footer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        background-color:#a3c468;
        font-size: 20px;
        color:white;
        font-family:'Josefin Slab', serif;
      }
